<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "{{user_request}}"</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main>

    <a href="/">Назад</a>

    {% if number == 0 %}
        <h1>Не найдено постов по запросу "{{user_request}}"</h1>
    {% else %}
        <h1>Посты по запросу "{{user_request}}"</h1>
        {% for post in found_posts %}
        <div class="post">
            <img src="{{post.pic}}" width="100%" alt="">
            <p>{{post.content}}</p>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
</main>
</body>
</html>
